<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>
</head>
<body>
    
    <div class="col-8 offset-2">
        <h3>Dados do agendamento</h3>
        <h4>Nome: {{nome}}</h4>
        <h4>CPF: {{cpf}}</h4>
        <h4>Data: {{dta}}</h4>
        <h4>Endereço: {{endereco}}</h4>
        <h4>Telefone: {{atelefone}}</h4>
        <h4>Email: {{email}}</h4>
        <h4>Especialidade: {{especialidade}}</h4>
        <h4>Alergia: {{alergia}}</h4>
        <h4>Informações Adicionais: {{infos}}</h4>
    </div>
   
</body>
</html>
